<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>

  <style>
    .container-fluid {
        padding: 60px 50px;
    }
    .bg-grey {
        background-color: #f6f6f6;
    }
    @media screen and (max-width: 768px) {
        .container-fluid{
            padding: 10px;
        }
    }
  </style>

</head>
<body>
  <header>
    <% include partials/header.ejs %>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1"></div>

      <!-- History -->
      <div class="col-sm-6">
        <div class="container-fluid">
          <% for( var i=0; i<history.length; i++ ){ %>
            <h4><a><%= history[i].title %></a></h4>
            <p><%= history[i].date %></p>
            <p><%= history[i].content %></p>
            <hr>
          <% } %>
        </div>
      </div>

      <!-- Projects -->
      <div class="col-sm-4">
        <div class="container-fluid">
          <div class="panel panel-default">
            <div class="panel-heading"><strong>Your Projects</strong><button class="btn btn-primary btn-sm pull-right padding-bott0m: 5px">Create</button></div>

            <% for( var i=0; i<projects.length; i++ ) { %>
              <div class="panel-body" style="border-bottom: 1px solid lightgrey"><a href="/performanceView/<%= projects[i].id%>"><strong><%=projects[i].name %></strong></a></div>
            <% } %>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>

  <footer>
    <% include partials/footer.ejs %>
  </footer>
</body>
</html>
